*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
override {
    background-color: #D6FFB7 ;
}
.override .page-title {
    color: white;
}

.override .alert{
    display: none;
}
.override .row-fluid {
<<<<<<< HEAD
    background-color: black ;
}

.override .social-sidebar{
    background-color: pink;
}

.override .menu{
    background-color: purple;
}

.override .navigation-sidebar{
    background-color: turquoise;
}

.override .user{
    text-decoration: underline;
    background-color: yellow;
    font-size: 45px;
    color: blue;
}

.override .social-box{
    background-color: chocolate;
=======
    background-color: #58355E ;
>>>>>>> 506ed944a2f07df78fef5c212322fa94aea5576b
}