*{
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}
override {
    background-color: #D6FFB7 ;
}
.override .page-title {
    color: white;
}

.override .alert{
    display: none;
}
.override .row-fluid {
    background-color: #58355E ;
}